.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.none, .none_m, .none_t {
  display: none;
}

@media screen and (min-width: 768px) {
  .none_m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .none_t {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.show, .show_m, .show_t {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .show_m {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .show_t {
    display: none;
  }
}

* {
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  color: #12082D;
}

header {
  font-family: "poppins", sans-serif;
}

header section {
  padding: 2vh 5vw;
}

header section.header1 {
  background-color: rgba(64, 85, 88, 0.6);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header section.header1 > div div {
  margin-right: 7.5px;
}

@media screen and (min-width: 1024px) {
  header section.header1 > div div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

header section.header1 > div div.findUs {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  header section.header1 > div div.findUs {
    margin-right: 7.5px;
  }
}

header section.header1 > div div:last-child {
  margin-right: 0;
}

header section.header1 > div div:last-child img {
  width: 35%;
}

header section.header1 > div div img {
  width: 12px;
  margin-right: 5px;
}

header section.header2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2vh 5vw;
}

@media screen and (min-width: 1024px) {
  header section.header2 .none_t * {
    margin-left: 20px;
  }
}

header section.header2 .none_t:last-child a.button {
  background: -webkit-gradient(linear, left top, left bottom, from(#ef9b11), to(#405558));
  background: linear-gradient(180deg, #ef9b11 0%, #405558 100%);
  padding: 2.5px 5px;
  border-radius: 10px;
  width: 100px;
  max-height: 70px;
  padding-left: 5vw;
}

section {
  padding: 2vh 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.section1 {
  min-height: 200px;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.section1 * {
  width: 85%;
}

@media screen and (min-width: 375px) {
  section.section1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/assets/img/sectionBgimg.png);
    background-position: 50% 20%;
  }
  section.section1 * {
    width: 55%;
  }
}

section.section2 .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 4px 4px 0px #ada2a240;
          box-shadow: 0px 4px 4px 0px #ada2a240;
  height: 180px;
  width: 180px;
  display: inline-block;
}

section.section2 .box:not(:first-child) {
  display: none;
}

@media screen and (min-width: 768px) {
  section.section2 .box:not(:first-child) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */